body {
    background-color: #f2f2f2;
    font-family: "MicrosoftYahei";
}
/* t头部搜索框 */
.searhContainer {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px 0;
}

.search_tit, .search_directory {
    width: 150px;
    margin-right: 10px;
}

.search_keywords {
    width: 300px;
}

    .search_keywords .el-icon-search {
        color: #0088ff;
        cursor: pointer;
    }
 
.el-tree-node__label {
    font-size: 15px;
}

.el-tree-node__content {
    height: 30px;
}

#app > .el-row {
    height: calc(100% - 50px);
    margin-right: 0 !important;
}

#app .el-col.el-col-4 {
    padding: 0 !important;
}

.content {
    height: 99vh;
    border: 1px solid #ccc;
    background-color: #fff;
    overflow: auto;
}

.content-title {
    height: 54px;
    border-bottom: 1px solid #ccc;
    line-height: 54px;
    margin-left: 5px;
}

.content-main .el-tree-node__label {
    font-size: 12px;
}

.icon-sign, .content-txt {
    font-size: 16px;
    color: #0088ff;
    font-weight: bolder;
}

.materials {
    height: 99vh;
    border: 1px solid #ccc;
    background-color: #fff;
}
.cdialogcss {
    width: 400px;
    height: 200px
}
.materials-tabTit {
    height: 54px;
    line-height: 54px;
    padding: 0 5px;
}

.materials-tabTit-tabs {
    float: left;
}

    .materials-tabTit-tabs .el-tabs__item {
        color: #000;
        font-size: 16px;
        font-weight: bolder;
    }

.add-material {
    float: right;
    margin-right: 60px;
    margin-top: 14px;
}

.tableWrap .el-table thead {
    font-size: 12px;
    font-weight: bolder;
}

.el-table th > .cell {
    color: #666;
}

.el-tabs__item.is-active {
    font-weight: bold;
}

.el-table__body tr:hover > td {
    background-color: rgba(0,136,255,0.1) !important;
    color: #0088ff;
    cursor: default !important;
}

.el-table__body tr.current-row > td {
    background-color: rgba(0,136,255,0.1) !important;
    color: #0088ff;
}

/* //设置背景色 */
.el-tree-node__content:hover {
    background-color: rgba(0,136,255,0.1);
    color: #0088ff;
}

.el-tree-node:focus > .el-tree-node__content {
    color: #0088ff;
    font-weight: bolder !important;
}
/*点击选中时绑定一个类名 */
.treeNodeSeleted{
    color: #0088ff;
    font-weight: bolder !important;
}
.el-popover {
    padding: 0px 0px;
    margin-top: 40px;
    margin-left: 50px;
}

.action-item {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}

    .action-item:last-child {
        border-bottom: none;
    }

    .action-item:hover {
        background-color: #f2f2f2;
    }

.deletErrorMark-icon {
    width: 48px;
    height: 48px;
    border-radius: 40px;
    text-align: center;
    line-height: 48px;
    font-size: 40px;
    background-color: #f00;
    color: #fff;
    margin: 10px auto;
}

.deletWranMark-icon {
    width: 48px;
    height: 48px;
    border-radius: 40px;
    text-align: center;
    line-height: 48px;
    font-size: 40px;
    background-color: yellow;
    color: #fff;
    margin: 10px auto;
}

.deletErrorTxt {
    font-size: 12px;
    color: #000;
    text-align: center;
}
.el-dialog__footer {
    padding: 0px;
    text-align: center;
}

    .el-dialog__footer button {
        width: 100px;
        height: 32px;
        line-height: 0;
        font-size:12px;
    }
.el-dialog__header {
    padding: 10px 20px 10px;
}
.el-dialog__title {
    position: relative;
    font-size: 12px;
}

    .el-dialog__title::before {
        display: inline-block;
        content: "";
        width: 4px;
        height: 18px;
        background: #0088ff;
        position: absolute;
        top: 0px;
        left: -8px;
    }
.el-dialog__body {
    padding: 0 20px 30px;
    height: 65px;
}
