body{
  background-color: #f2f2f2;
}
#newAdd>.el-row{
  margin-right:0 !important;
}
.form-item-container-yqy {
    background: #fff;
    margin-top: 10px;
    padding: 0 12px  12px  50px;
    border-radius: 2px;
    border: 1px solid #ccc;
}
.content-title{
  height:54px;
  border-bottom:1px solid #ccc;
  line-height:54px;
  margin-left:5px;
}
.icon-sign,.content-txt{
  font-size:20px;
  color:#0088ff;
}
.el-dialog__body{
  padding: 0 20px 30px;
}
.inPcontent .el-icon-folder-opened:before{
    color: #4088ff;
    font-weight: bolder;
}
/* //设置背景色 */
.el-tree-node__content:hover{
  background-color: rgba(0,136,255,0.1);
  color:#0088ff;
}
.el-tree-node:focus>.el-tree-node__content{
  color:#0088ff;
  font-weight:bolder !important;
}
#version {
    height: 300px;
    border: 1px solid #ccc;
    box-shadow: 0 0 0 0 #000;
    margin-bottom: 5px;
    background: #fff;
    padding: 0 15px 0 30px;
}
.v-set {
    height: 40px;
    line-height: 70px;
    margin-bottom: 35px;
    color: #000;
    font-size: 16;
    font-weight: bold;
}
.cur-version{
  display:flex;
  align-items: center;
  margin-bottom:30px;
}
.ver-number{
  width:50px;
  height:25px;
  background:#0088ff;
  color:#fff;
  border-radius: 4px;
  text-align:center;
  line-height: 25px;
  margin-left:10px;
}
#deadline{
  height:30px;
  border:1px solid #ccc;
  background:#fff;
  display:flex;
  align-items: center;
  padding:10px 0;
  border-radius: 4px;
}
.dateLabel{
  margin-left:15px;
}
.dateWrap{
  margin-left:20px;
}
.formStar{
  color:#f00;
  font-weight:700px;
}

/* 资料上传 */
#material-upload-wrapper {
    background: #fff;
    min-height: 300px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.upload-container {
    margin-top: -15px;
    margin-left: 5px;
}
.upload-txt {
    color: gainsboro;
    font-size: 14px;
    font-weight: bold;
    padding-left: 40px;
}
.fileList-item {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 14px;
    margin-top: 10px;
}
.fileList-item-action{
  align-items: center;
}
.action_up-status{
  margin:0 15px;
  color:#f00;
}
.action_up-size{
    font-size: 13px;
    color: #000;
    margin-right: 13px;
    width:100px;
}
.smallBtn{
  padding:3px 7px;
}

.clsoeWranMark-icon {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    text-align: center;
    line-height: 80px;
    font-size: 50px;
    background-color: #ff9200;
    color: #fff;
    margin: 10px auto;
}

.clsoeErrorTxt {
    font-size: 20px;
    color: #000;
    text-align: center;
}
.saveWranMark-icon {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    text-align: center;
    line-height: 80px;
    font-size: 50px;
    background-color: #0aef50;
    color: #fff;
    margin: 10px auto;
}

.saveErrorTxt {
    font-size: 20px;
    color: #000;
    text-align: center;
}
.fileList-item-info_pic {
    width: 30px;
    height:30px;
    vertical-align:middle
}

.fileList-item-action {
    align-items:center
}

.contentDialog{
  width:30%;
  height:500px;
}
.content-mainDialog{
  height:300px;
  overflow:auto;
}





.authority-dialog{
  width:400px;
}
.authority-header{
  display:flex;
  align-items: center;
  font-size:12px;
}
.titleMark{
  display:inline-block;
  width:4px;
  height:18px;
  background:#0088ff;
  margin-right:5px;
}
